body
{
	margin: 0px;
	padding: 0;
}

#header
{
	background-color: #2e2e2e;
	margin-top: 0px;
	text-align: left;
	height: 31px;
	
}

#header p
{
	display: inline-block;
	text-decoration: none;
	color:#bebebe;
	padding:0px 7px 0px 5px;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 800;
	margin-top: 8px;
}


#plusheader
{
 float: right;
 margin-top: 15px;
}

img.plusimage
{
	float: right;
}

#content
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

}

img.googlogo
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#typingarea
{
	display: block;
	margin: 0 auto;
	width: 570px;
	height: 27px;
}

.searchbuttons
{
	text-align: center;
}

.searchbuttons div
{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-color:#221121;
	margin: 16px;
	width: 90px;
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	padding: 6px 14px 6px 14px;
	font-size: 11px;	
}

#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;


	text-align: right;
	border-top: 1px solid #ebebeb;

}

#footer p{
	display:inline-block;
	padding:0px 7px 0px 5px;
	font-family: arial;
	font-size: 13px;
	/*font-weight: 800;*/
	color: #666;
}
